footer {
  background: hsl(243, 87%, 12%);
  padding: 3.5rem 2rem;
  display: grid;
  gap: 3rem;
}

@media (width > 800px) {
  footer {
    padding: calc(1.5rem + 2%) calc(1rem + 2.5%);
  }
}

@media (width < 800px) {
  footer {
    place-items: center;
  }
}

.logo-container__footer-logo {
  filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(805%) hue-rotate(205deg) brightness(120%) contrast(100%);
  width: 175px;
}

.contact {
  display: grid;
  gap: 3rem;
}

.contacet__wrapper {
  display: grid;
  gap: 1rem;
}

.contact__page {
  color: #fff;
  transition: color .25s
}

.contact__page:hover {
  color: #5e8ef2;
}

.contact__container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact__container--dpl-grd {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.contact__container--dpl-mid {
  justify-content: center;
}

.contact__share-link {
  filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(805%) hue-rotate(205deg) brightness(120%) contrast(100%);
  cursor: pointer;
  transition: filter .25s
}

.contact__share-link:hover {
  filter: brightness(0) saturate(100%) invert(46%) sepia(65%) saturate(1668%) hue-rotate(203deg) brightness(105%) contrast(90%);
}

@media (width > 800px) {
  footer {
    gap: 1.5rem;
  }

  .contact {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: start;
  }

  .contact__container--dpl-grd {
    align-items: start;
  }
}
